#basic-navbar-nav a {
    color: rgb(43, 43, 75);
}
#nav-bar {
    background-color: #2d545e;
}
.navbar-brand, .nav-link {
    color: #fff!important;
}
.navbar-brand:hover, .nav-link:hover {
    color: lightgray!important;
}
@media (min-width: 992px){
    #basic-navbar-nav {
        position: absolute;
        right: 10%;
    }
}